<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/main.css">
    <link rel="stylesheet" href="../public/popupNotification.css">
    <link rel="stylesheet" href="../public//report.css">

    <title> Report </title>

</head>
<body>
    <div class="Main-Div" id="Main-Div">

        <h1 id="Main-Div-H1-Title" class="Main-Div-H1-Title"> Report </h1>

        <!-- <h4 class="main-div-h4"> March </h4> -->

        <table class="report-table" id="report-table">
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Category</th>
            </tr>
            <!-- <tr>
                <td>12/12/2000</td>
                <td>4000</td>
                <td>Paid Rent</td>
                <td>Rent</td>
            </tr>
            <tr>
                <td>12/12/2000</td>
                <td>4000</td>
                <td>Paid Rent</td>
                <td>Rent</td>
            </tr> -->
        </table>
        
        <button class="download-report-button"> Download Report </button>
        
        <div class="popup-container" id="popup-container">
            <div class="popup" id="popup-inner-div">
                <button id="close">&times;</button>
            </div>
        </div>
    </div>
</body>

<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="../scripts/report.js"></script>

</html>